.nav-item::after {
  top: 0;
}
.nav-item::before {
  bottom: -1.5px;
  left: -10px;
}
.nav-item:hover::before,
.nav-item:hover::after {
  height: 10px;
}
.nav-left :nth-child(1)::after {
  left: 40;
}
.nav-left :nth-child(2)::after,
.nav-left :nth-child(4)::after {
  left: 33;
}
.nav-left :nth-child(3)::after {
  left: 25;
}
.nav-right :nth-child(1)::after {
  left: 45;
}
.nav-right :nth-child(2)::after {
  left: 63;
}
.nav-i::after {
  left: 15;
}
.as2:hover::after {
  width: 117%;
  height: 147%;
}
.as2:hover::before {
  width: 115%;
  height: 145%;
}
.selectionsDiv :nth-child(1) a:hover::after {
  width: 117%;
  height: 147%;
}
.selectionsDiv :nth-child(1) a:hover::before {
  width: 120%;
  height: 145%;
}
.selectionsDiv :nth-child(2) a:hover::after {
  width: 120%;
  height: 147%;
}
.selectionsDiv :nth-child(2) a:hover::before {
  width: 120%;
  height: 145%;
}
.selectionsDiv :nth-child(3) a:hover::after {
  width: 114%;
  height: 147%;
}
.selectionsDiv :nth-child(3) a:hover::before {
  width: 114%;
  height: 145%;
}
.selectionsDiv :nth-child(4) a:hover::after {
  width: 107%;
  height: 147%;
}
.selectionsDiv :nth-child(4) a:hover::before {
  width: 107%;
  height: 145%;
}
.selectionsDiv :nth-child(5) a:hover::after {
  width: 115%;
  height: 147%;
}
.selectionsDiv :nth-child(5) a:hover::before {
  width: 114%;
  height: 145%;
}
.selectionsDiv :nth-child(6) a:hover::after {
  width: 115%;
  height: 147%;
}
.selectionsDiv :nth-child(6) a:hover::before {
  width: 114%;
  height: 145%;
}
.fashionDiv :nth-child(1){
  background-image: url(../images/beliHome.png);
}
.fashionDiv :nth-child(2){
  background-image: url(../images/viniPreMatch.png);
}
.fashionDiv :nth-child(3){
  background-image: url(../images/Women.png);
}
.rel{
  position: relative;
}
.a1::after{
  background-image: url(../images/carlosFace.webp);
}
.a2::after{
  background-image: url(../images/ramosFace.avif);
}
.a3::after{
  background-image: url(../images/zidaneFace.jpeg);
}
.a4::after{
  background-image: url(../images/baleFace.jpeg);
}
