* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 8px;
  text-align: right;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px 50px;
}
.nav-item {
  margin-left: 30px;
  text-decoration: none;
  color: #222;
  transition: color 0.5s ease;
  position: relative;
}
.nav-item::before,.nav-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0px;
  background: linear-gradient(to bottom, rgb(62, 49, 250), rgb(135, 96, 246));
  background: -webkit-linear-gradient(to bottom, rgb(62, 49, 250), rgb(135, 96, 246));
  transition: height 0.5s ease;
}
.nav-item::after{
  top: 0;
}
.nav-item::before{
bottom: -1.5px;
  left: -10px;
}
.nav-item:hover::before,.nav-item:hover::after {
  height: 10px;
}

.nav-left :nth-child(1)::after {left: 40;}
.nav-left :nth-child(2)::after,.nav-left :nth-child(4)::after {left: 33;}
.nav-left :nth-child(3)::after {left: 25;}

.nav-right :nth-child(1)::after {left: 45;}
.nav-right :nth-child(2)::after {left: 63;}
.nav-i::after{left: 15;}
